In [27]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

#### Storing Bitcoin CSV into DataFrame

In [28]:
bitcoin_file = "bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv"
bitcoin_data_df = pd.read_csv(bitcoin_file)
bitcoin_data_df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Removing unnecessary columns, renaming one column to match other dataframe and transforming Unix Timestamp to date

In [29]:
bitcoin_data_df.rename(columns={'Timestamp':'Unix Timestamp'}, inplace=True)
new_bitcoin_data_df = bitcoin_data_df[['Unix Timestamp', 'Open', 'High', 'Low', 'Close']].copy()
new_bitcoin_data_df['date'] = pd.to_datetime(new_bitcoin_data_df['Unix Timestamp'], unit='s').dt.date
new_bitcoin_data_df.head()

   Unix Timestamp  Open  High   Low  Close        date
0      1325317920  4.39  4.39  4.39   4.39  2011-12-31
1      1325317980   NaN   NaN   NaN    NaN  2011-12-31
2      1325318040   NaN   NaN   NaN    NaN  2011-12-31
3      1325318100   NaN   NaN   NaN    NaN  2011-12-31
4      1325318160   NaN   NaN   NaN    NaN  2011-12-31

#### Grouping by date

In [30]:
new_bitcoin_data_df = new_bitcoin_data_df.groupby('date').last().reset_index()

In [31]:
new_bitcoin_data_df.head()

         date  Unix Timestamp  Open  High   Low  Close
0  2011-12-31      1325375940  4.58  4.58  4.58   4.58
1  2012-01-01      1325462340  5.00  5.00  5.00   5.00
2  2012-01-02      1325548740  5.00  5.00  5.00   5.00
3  2012-01-03      1325635140  5.29  5.29  5.29   5.29
4  2012-01-04      1325721540  5.37  5.57  5.37   5.57

In [32]:
# Create a filtered dataframe from specific columns
new_bitcoin_data_cols = ["date", "Unix Timestamp", "Open", "High", "Low", "Close"]
new_bitcoin_data_transformed= new_bitcoin_data_df[new_bitcoin_data_cols].copy()

# Rename the column headers
new_bitcoin_data_transformed = new_bitcoin_data_transformed.rename(columns={"date": "date",                                                         
                                                         "Unix Timestamp": "unix_timestamp",
                                                          "Open": "open",
                                                         "High": "high", 
                                                         "Low": "low",
                                                         "Close": "close"})

new_bitcoin_data_transformed.head()

         date  unix_timestamp  open  high   low  close
0  2011-12-31      1325375940  4.58  4.58  4.58   4.58
1  2012-01-01      1325462340  5.00  5.00  5.00   5.00
2  2012-01-02      1325548740  5.00  5.00  5.00   5.00
3  2012-01-03      1325635140  5.29  5.29  5.29   5.29
4  2012-01-04      1325721540  5.37  5.57  5.37   5.57

#### Storing Ethereum CSV to dataframe

In [33]:
ethereum_file = "ETH_1H.csv"
ethereum_data_df = pd.read_csv(ethereum_file)
ethereum_data_df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200,4/16/20 0:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600,4/15/20 23:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000,4/15/20 22:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400,4/15/20 21:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800,4/15/20 20:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

#### Removing unnecessary columns and creating date column from Unix Timestamp

In [34]:
new_ethereum_data_df = ethereum_data_df[['Unix Timestamp', 'Open', 'High', 'Low', 'Close']].copy()
new_ethereum_data_df['date'] = pd.to_datetime(new_ethereum_data_df['Unix Timestamp'], unit='s').dt.date
new_ethereum_data_df.head()

   Unix Timestamp    Open    High     Low   Close        date
0      1586995200  152.94  152.94  150.39  150.39  2020-04-16
1      1586991600  155.81  155.81  151.39  152.94  2020-04-15
2      1586988000  157.18  157.30  155.32  155.81  2020-04-15
3      1586984400  158.04  158.31  157.16  157.18  2020-04-15
4      1586980800  157.10  158.10  156.87  158.04  2020-04-15

#### Grouping by date

In [9]:
new_ethereum_data_df = new_ethereum_data_df.groupby('date').last().reset_index()

In [10]:
# Create a filtered dataframe from specific columns
new_ethereum_data_cols = ["date", "Unix Timestamp", "Open", "High", "Low", "Close"]
new_ethereum_data_transformed= new_ethereum_data_df[new_ethereum_data_cols].copy()

# Rename the column headers
new_ethereum_data_transformed = new_bitcoin_data_transformed.rename(columns={"date": "date",
                                                         "Unix Timestamp": "unix_timestamp",
                                                         "Open": "open",
                                                         "High": "high", 
                                                         "Low": "low",
                                                         "Close": "close"})

new_ethereum_data_transformed.head()

         date  unix_timestamp  open  high   low  close
0  2011-12-31      1325375940  4.58  4.58  4.58   4.58
1  2012-01-01      1325462340  5.00  5.00  5.00   5.00
2  2012-01-02      1325548740  5.00  5.00  5.00   5.00
3  2012-01-03      1325635140  5.29  5.29  5.29   5.29
4  2012-01-04      1325721540  5.37  5.57  5.37   5.57

#### Storing Bitcoin related tweet CSV to dataframe

#### Reformatting timestamp

In [11]:
from config import pgsql_password
engine = create_engine(f"postgresql://postgres:{pgsql_password}@localhost:5432/ETLProject_db")

In [12]:
engine.table_names()

['new_bitcoin_data_transformed', 'new_ethereum_data_transformed']

In [13]:
engine

Engine(postgresql://postgres:***@localhost:5432/ETLProject_db)

In [14]:
new_bitcoin_data_transformed.to_sql(name='new_bitcoin_data_transformed', con=engine, if_exists='append', index=False)

In [15]:
new_ethereum_data_transformed.to_sql(name='new_ethereum_data_transformed', con=engine, if_exists='append', index=False)