In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

#### Storing all three CSVs into DataFrame

In [ ]:
bitcoin_file = "bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv"
bitcoin_data_df = pd.read_csv(bitcoin_file)
bitcoin_data_df.head()

#### Removing unnecessary columns and renaming to match other dataframe

In [ ]:
bitcoin_data_df.rename(columns={'Timestamp':'Unix Timestamp'}, inplace=True)
new_bitcoin_data_df = bitcoin_data_df[['Unix Timestamp', 'Open', 'High', 'Low', 'Close']].copy()
new_bitcoin_data_df['date'] = pd.to_datetime(new_bitcoin_data_df['Unix Timestamp'], unit='s').dt.date
new_bitcoin_data_df.head()

In [ ]:
new_bitcoin_data_df.groupby('date').last().reset_index()

In [5]:
pd.to_datetime(new_bitcoin_data_df['Unix Timestamp'], unit='s').dt.date

0          2011-12-31
1          2011-12-31
2          2011-12-31
3          2011-12-31
4          2011-12-31
              ...
4727772    2020-12-30
4727773    2020-12-30
4727774    2020-12-30
4727775    2020-12-30
4727776    2020-12-31
Name: Unix Timestamp, Length: 4727777, dtype: object

In [6]:
ethereum_file = "ETH_1H.csv"
ethereum_data_df = pd.read_csv(ethereum_file)
ethereum_data_df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

#### Removing milliseconds from Ethereum timestamp

In [7]:
ethereum_data_df['Unix Timestamp'] = ethereum_data_df['Unix Timestamp'].apply(str)
ethereum_data_df['Unix Timestamp'] = [x[:-4] for x in ethereum_data_df['Unix Timestamp']]
ethereum_data_df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,158699520,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,158699160,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,158698800,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,158698440,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,158698080,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

#### Removing unnecessary columns

In [8]:
new_ethereum_data_df = ethereum_data_df[['Unix Timestamp', 'Open', 'High', 'Low', 'Close']].copy()
new_ethereum_data_df['date'] = pd.to_datetime(new_ethereum_data_df['Unix Timestamp'], unit='s').dt.date
new_ethereum_data_df.head()

  Unix Timestamp    Open    High     Low   Close        date
0      158699520  152.94  152.94  150.39  150.39  1975-01-11
1      158699160  155.81  155.81  151.39  152.94  1975-01-11
2      158698800  157.18  157.30  155.32  155.81  1975-01-11
3      158698440  158.04  158.31  157.16  157.18  1975-01-11
4      158698080  157.10  158.10  156.87  158.04  1975-01-11

In [9]:
new_ethereum_data_df.groupby('date').last().reset_index()

          date Unix Timestamp    Open    High     Low   Close
0   1970-01-02         146279    0.00   12.00    0.00    9.55
1   1974-11-06      153009720  439.25  439.25  432.00  433.54
2   1974-11-07      153014400  441.64  444.00  441.48  442.45
3   1974-11-08      153100800  486.00  493.00  485.02  486.82
4   1974-11-09      153187200  499.11  504.91  499.02  501.85
..         ...            ...     ...     ...     ...     ...
63  1975-01-07      158284800  227.14  231.68  227.01  230.70
64  1975-01-08      158371200  199.66  206.80  197.01  203.27
65  1975-01-09      158457600  118.68  120.44  117.76  117.89
66  1975-01-10      158544000  131.27  132.00  130.20  130.70
67  1975-01-11      158630400  164.70  165.56  163.78  164.67

[68 rows x 6 columns]

In [10]:
bitcoin_tweet_file = "tweets.csv"
bitcoin_tweet_df = pd.read_csv(bitcoin_tweet_file)
bitcoin_tweet_df.head()

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,user,fullname,url,timestamp,replies,likes,retweets
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0,0,0
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0,0,0
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0,2,1
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0,0,0
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0,0,0

#### Reformatting timestamp

In [11]:
bitcoin_tweet_df['timestamp'] = pd.to_datetime(bitcoin_tweet_df['timestamp'])
bitcoin_tweet_df['timestamp'] = bitcoin_tweet_df['timestamp'].astype(np.int64) // 10 ** 9
print (bitcoin_tweet_df)

                         id            user             fullname  url  \
0       1132977055300300800    KamdemAbdiel        Abdiel kamdem  NaN
1       1132977073402736640       bitcointe            Bitcointe  NaN
2       1132977023893139456       3eyedbran  Bran - 3 Eyed Raven  NaN
3       1132977089089556481   DetroitCrypto          J. Scardina  NaN
4       1132977092340191232    mmursaleen72   Muhammad Mursaleen  NaN
...                     ...             ...                  ...  ...
999994  1130977214802145282        eddg3110             eddg3110  NaN
999995  1130977332787728384    EPICRYPTO369         EPICRYPTO369  NaN
999996  1130970379944701953   garylbrowning        Gary Browning  NaN
999997  1130978980046069762  setsuzokuotoko               接続された男  NaN
999998  1130977610396262400        MtGox101         Mt. Goxonaut  NaN

         timestamp  replies  likes  retweets
0       1558957754        0      0         0
1       1558957758        0      0         0
2       1558957746        0      2         1
3       1558957762        0      0         0
4       1558957763        0      0         0
...            ...      ...    ...       ...
999994  1558473755        0      0         0
999995  1558473783        0      0         0
999996  1558472125        2     35        21
999997  1558474176        0      0         0
999998  1558473849        0      0         0

[999999 rows x 8 columns]

In [12]:
bitcoin_tweet_df.head()

,id,user,fullname,url,timestamp,replies,likes,retweets
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,1558957754,0,0,0
1,1132977073402736640,bitcointe,Bitcointe,NaN,1558957758,0,0,0
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,1558957746,0,2,1
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,1558957762,0,0,0
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,1558957763,0,0,0

In [13]:
bitcoin_tweet_df['date'] = pd.to_datetime(bitcoin_tweet_df['timestamp'], unit='s').dt.date 
bitcoin_tweet_df.head()

,id,user,fullname,url,timestamp,replies,likes,retweets,date
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,1558957754,0,0,0,2019-05-27
1,1132977073402736640,bitcointe,Bitcointe,NaN,1558957758,0,0,0,2019-05-27
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,1558957746,0,2,1,2019-05-27
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,1558957762,0,0,0,2019-05-27
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,1558957763,0,0,0,2019-05-27

In [14]:
from config import pgsql_password
engine = create_engine(f"postgresql://postgres:{pgsql_password}@localhost:5433/ETLProject_db")

In [ ]:
new_bitcoin_data_df.to_sql(name='new_bitcoin_data', con=engine, if_exists='append', index=False)

In [ ]:
new_ethereum_data_df.to_sql(name='new_ethereum_data', con=engine, if_exists="append", index=False)

In [ ]:
bitcoin_tweet_df.to_sql(name='bitcoin_tweet', con=engine, if_exists="append", index=False)

In [ ]:
engine.table_names()